---
---

@import 'config';
@import 'mixins';
@import 'extends';

img{
  width: 100%;
}


.highlight{
  pre{
    background-color: #C0C0C0;
    border-radius: 3px;
    border: solid;
    padding-top: 5px ;
    padding-bottom: 5px;
    padding-left: 10px ;
  }
}

a{
  color: $font-color-a;
  &:hover{
    color: $font-color-a-hover;
  }
}

body{
  color: $font-color;
}

/* 広告用 */
#a8_rbr{
  text-align: center;
  margin: 20px 0px;
  img{
    width: auto;
    height: auto;
  }
}


/* ページ内のヘッダータグ調整 */
.page__body > h2{
  font-size:0.925rem;
  padding: 0.4em 0.5em;
  color: #494949;
  background: #f4f4f4;
  border-left: solid 5px #7db4e6;
  border-bottom: solid 3px #d7d7d7;

  @include breakpoint(){
    font-size:1.625rem;
  }
}

.contents.page{
  margin : 0 auto;
  @include breakpoint(){
    width: 860px;
  }
}

/* 投稿一覧ページ */
.front-page{
  h2 {
    font-size: 1rem;
    padding-left: 0.4em;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #7db4e6;
    border-bottom: solid 3px #d7d7d7;

    width: 289px;
    height: 55px;
    object-fit: cover;

    @include breakpoint() {
      font-size: 1.05rem;
    }
  }
}
.post_item {
  margin : 0 auto;
  img {
    width: 300px;
    height: 190px;
    object-fit: cover;
  }
}


p{
  margin: 0 0 1em 0;
}

.container{
  max-width: $container-width;
  margin : 0 auto;
  padding: 0 25px;
}

.copyright{
  margin-bottom: 0;
}

.footer{
  border-top: $border;
  @include pad();

  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.front-page{
  //@include pad();
}

.nav{

  border-top: $border;
  border-bottom: $border;

  &__list{
    @include resetlist();
    display: flex;
    flex-wrap: wrap;
  }

  &__item{
    margin-right: 1em;

    a{
      display: block;
      text-decoration: none;
      color: $font-color;
      padding: 15px 10px;
      font-size: 0.9em;
    }
  }
}

.page{

  &__header{
    border-bottom: $border;
    @include pad();
  }

  &__title{
    margin: 0;
    font-size: 28px;

    @include breakpoint(){
      font-size: 2rem;
    }
  }

  &__description{
    @extend %meta;
  }

  &__body{
    @include pad();
  }

  &__date{
    @extend %meta;
  }
}

.site-title{
  font-weight: bold;

  @include breakpoint(){
    font-size: 20px;
  }

  a{
    color: $font-color;
    text-decoration: none;
  }
}

.site-logo{
  padding: 4% 0;
}

.pager{
  @include pad();
  display: flex;
  flex-wrap: wrap;

  &__item{

    $pre: &;

    a{
      text-decoration: none;
    }

    &--prev{
      @extend #{$pre};
      margin-left: auto;
    }

    &--next{
      @extend #{$pre};
    }
  }
}

.social-link{
  display: flex;
  flex-wrap: wrap;

  &__item{
    font-size: 1.5em;

    a{
      color: #666;
      display: block;
      padding: 5px;
    }
  }
}

.archive{

  @include pad();
  border-bottom: $border;

  &__title{

    margin: 0;

    a{
      color: $font-color;
      text-decoration: none;
    }
  }

  &__date{
    @extend %meta;
  }

  &__excerpt{
    font-size: 14px;
    color: #666;
    margin-top: 1em;
  }
}

.pagination{
  margin : 0 auto;
  @include pad();
  display: flex;
  flex-wrap: wrap;

  &__item{
    margin-right: 4px;
    text-decoration: none;
    display: block;
    padding: 7px 16px;
    border: $border;
  }

  .current{
    background: $color-main;
    border-color: $color-main;
    color: white;
  }
}

